{% if paginator.total_pages > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-template d-flex justify-content-center">
      {% if paginator.previous_page %}
        <li class="page-item"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
      {% else %}
        <a href="" class="page-link"> <i class="fa fa-angle-left"></i></a>
      {% endif %}


      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item"><a href="#" class="page-link">{{ page }}</a></li>
        {% elsif page == 1 %}
          <li class="page-item active"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">{{ page }}</a></li>
        {% else %}
          <li class="page-item"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-link">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="page-item"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
      {% else %}
        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
