<style type="text/css">
  .latest-posts-images{
    min-width: 69px;
    max-width: 70px;
    height: 103px;
    overflow: hidden;
    margin-right: 8px;
  }
</style>
<div class="widget latest-posts">
  <header><h3 class="h6">Latest Posts</h3></header>
  <div class="blog-posts">
    {% for post in site.posts limit:5 %}  
      <a href="{{ post.url }}">
        <div class="item d-flex align-items-center">
          <div class="latest-posts-images">
            <img src="{{'/assets/img/posts/' | prepend: site.baseurl | append : post.thumbnail}}" alt="{{ post.title }}" class="img-fluid">
          </div>
          <div class="title">
            <strong>{{ post.title }}</strong>
            <div class="d-flex align-items-center">
              <p class="text-muted">{{ post.content | strip_html | truncatewords: 15 }}</p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}  
  </div>
</div>
