{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div class="widget tags">
  <header>
    <h3 class="h6">Search By Tags</h3>
  </header>
  <ul class="list-inline">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <li class="list-inline-item"><a href="{{site.baseurl}}/tags#{{this_word | cgi_escape}}" class="tag">&#35; {{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
  {% endunless %}{% endfor %}
  </ul>
</div>
