<div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="prev-post text-left d-flex align-items-center">
      <div class="icon prev"><i class="fa fa-angle-left"></i></div>
      <div class="text">
        <strong class="text-primary">Previous Post </strong>
        <h6>{{page.previous.title}}</h6>
      </div>
    </a>
  {% endif %}

  {% if page.next.url %}
    <a href="{{page.next.url}}" class="next-post text-right d-flex align-items-center justify-content-end">
      <div class="text">
        <strong class="text-primary">Next Post </strong>
        <h6>{{page.next.title}}</h6>
      </div>
      <div class="icon next"><i class="fa fa-angle-right">   </i></div>
    </a>
  {% endif %}
</div>
