<main class="post blog-post col-lg-8">
  <div class="container">
    <div class="post-single">

      {% include post/main_thumbnail.html %}

      <div class="post-details">

        {% include post/categories.html %}
        
        {% include post/heading.html %}

        {% include post/author.html %}

        {% include post/body.html %}

        {% include post/tags.html %}

        {% include post/pagination.html %}

        {% include post/comments.html %}
      </div>
    </div>
  </div>
</main>
