<!DOCTYPE html>

<html lang="en">
	{% include head.html %}
	<body>
    {% include navbar.html %}
    {% include scripts.html %}
    <!-- Page Content -->
    <div class="container">
			<div class="row">
        <!-- This is index page top header add which display top of article list  To create a -->
<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-3105020239010429"
		 data-ad-slot="8047914283"
		 data-adtest="on"
></ins>
		 <script>

		 $(document).ready(function() {
   $('ins').each(function(){
     if ($(this).css("display") == "none") {
       $(this).remove();
     }
   });
   (adsbygoogle = window.adsbygoogle || []).push({});
 });
		 </script>
     </div>
      <div class="row">
        <main class="posts-listing col-lg-8">
          <div class="container">
            <div class="row">
              {{ content }}
            </div>
            {% include pagination.html %}
          </div>
        </main>
        {% include left_side_widget.html %}
      </div>
    </div>
    <!-- /.container -->
		{% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
