<!DOCTYPE html>

<html lang="en">
	{% include head.html %}
	<body>
    {% include navbar.html %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              {{ content }}
            </div>
            {% include pagination.html %}
          </div>
        </main>
        {% include left_side_widget.html %}
      </div>
    </div>
    <!-- /.container -->
    {% include analytics.html %}
    {% include scripts.html %}
  </body>
</html>
